/* Blacked overlay */

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Server Panel */

.servers {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  padding: 1.5rem;
  width: 25%;
  height: 100%;
  background-color: var(--color-secondary-30);
  border: 1px solid var(--color-secondary-10);
}

.closeIcon {
  height: 1.25rem;
  width: 1.25rem;
  margin-left: auto;
}

.closeIcon:hover .icon {
  fill: #fff;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.75rem;
}

.icon {
  fill: var(--color-primary-10);
}

.title {
  margin: 0;
}

.description {
  margin: 0;
  font: var(--text-base);
  line-height: 1.5rem;
}

.selection {
  display: flex;
  flex-direction: row;
  width: max-content;
  border: 1px solid var(--color-secondary-10);
  border-radius: 0.5rem;
  column-gap: 0.25rem;
  padding: 0.25rem;
  margin: 0 auto;
}

.server {
  padding: 0.25rem 12px;
  margin: 0;
  border-radius: 0.375rem;
  cursor: pointer;
  color: #fff;
}

.server:hover {
  background-color: var(--color-secondary-10);
}

.activeServer {
  background-color: var(--color-secondary-10);
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

label {
  z-index: 1;
  display: block;
  position: relative;
  background-color: var(--color-secondary-30);
  width: max-content;
  padding: 0 0.25rem;
  margin: 0 0 0 0.5rem;
  transform: translateY(0.28rem);
  color: var(--color-primary-10);
  font-size: var(--text-xs);
}

.input {
  background-color: var(--color-secondary-30);
  border: 1px solid var(--color-secondary-10);
  border-radius: 0.25rem;
  color: #fff;
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  outline: none;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.inputIcon {
  fill: var(--color-primary-10);
  height: 1rem;
  width: 1rem;
}

.inputIcon:hover {
  fill: #fff;
  cursor: pointer;
}

.connect {
  height: 2rem;
  padding: 0.5rem 0;
  width: 100%;
  background-color: var(--color-primary-20);
  border-radius: 0.25rem;
  border: 1px solid var(--color-primary-20);
  color: #fff;
  text-align: center;
}

.connect:hover {
  background-color: var(--color-primary-30);
  cursor: pointer;
}

/* Connected Server Overlay */

.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.25rem 0.5rem;
  background-color: var(--black);
  border-radius: 0 0 12px 12px;
  width: max-content;
  column-gap: 0.5rem;
  align-items: center;
}

.status {
  padding: 4px;
  background-color: var(--color-success);
  border-radius: 50%;
}

.serverName {
  font-size: var(--text-xs);
  color: #fff;
}