.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backdrop {
  flex: 1;
}

.panel {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
  width: 475px;
  height: 100%;
  background-color: var(--color-secondary-40);
  border-left: 1px solid var(--color-border);
  overflow: auto;
}

.panel.left {
  left: 0;
}

.panel.right {
  right: 0;
}

.close {
  margin-left: 95%;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.legend {
  font-size: var(--headline-rg);
  padding: 0.5rem;
  color: var(--white);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0 0.75rem;
  font-weight: 300;
}

.description {
  font: var(--text-sm);
  padding: 0 0.75rem;
  margin: 0.5rem 0 1.125rem;
}
