body {
  --color-main: #21252B;
  --color-secondary: #272B33;
  --color-accent: #32353c;
  --color-button: #DDDDDD;
  --color-theme: #272B33;
  --color-selection: #313640;
  --color-lighter-selection: #4f576a;
  --color-success: #46C227;
  --filter-icon-color: invert(99%) sepia(4%) saturate(805%) hue-rotate(198deg) brightness(114%) contrast(73%);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  background-color: var(--color-theme);
  overflow: hidden;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 53, 60, 0.7019607843);
  border-radius: 20px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* containers */
.container {
  padding: 25px;
}

.panel-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.screen {
  display: none;
  padding: 25px;
}
.screen input {
  background: inherit;
  border: none;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 100;
  padding: 1rem;
  outline: none;
  width: 75%;
}

.plugin-bar {
  background-color: var(--color-main);
  border-left: 1px solid var(--color-accent);
  width: 25px;
}
.plugin-bar ul {
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(360deg);
  padding: 0;
  margin: 0;
  width: 100%;
}
.plugin-bar ul li {
  padding: 20px 0;
  font-size: 16px;
  float: left;
  border-bottom: 1px solid var(--color-accent);
  width: 100%;
}
.plugin-bar ul li:hover {
  background: var(--color-selection);
  border-left: 1px solid var(--color-main);
  cursor: pointer;
}

/* horizontal panel*/
.panel-left {
  flex: 0 0 auto;
  height: 100%;
  width: 20%;
  padding: 20px 8px 20px 20px;
  box-sizing: border-box;
  color: white;
}

.splitter {
  flex: 0 0 auto;
  border: 1px solid var(--color-accent);
  cursor: col-resize;
}

.panel-right {
  flex: 1 1 auto;
  min-height: 100%;
  width: 80%;
}

/* vertical panel */
.panel-container-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
  bottom: 0;
}

.panel-top {
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 3px;
  background-color: var(--color-accent);
  cursor: col-resize;
}

.panel-bottom {
  flex: 1 1 auto;
  height: 0;
  position: relative;
  background-color: var(--color-main);
  overflow: scroll;
}

.panel-bottom::-webkit-scrollbar-thumb {
  background-color: rgba(50, 53, 60, 0.7019607843);
  border-radius: 20px;
}

/* spinner */
.simple-spinner {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.simple-spinner span {
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-right-color: rgba(255, 255, 255, 0.7);
  animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#screen-code {
  padding: 0;
}

.CodeMirror {
  font-size: 13px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: 20px;
  border: 3px solid var(--color-theme);
}

.deployment {
  background-color: inherit;
  margin: 0;
  right: 0;
  padding: 10px 80px 0 0;
  z-index: 999;
  position: absolute;
}

.deployment img {
  height: 30px;
  top: 20px;
  right: 25px;
  filter: invert(0.75);
}

#directory-listing {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
}
#directory-listing .panel-container-vertical {
  overflow: scroll;
}
#directory-listing .panel-filter {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  padding: 0px;
  background: var(--color-secondary);
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  align-items: center;
}
#directory-listing .panel-filter #manifest-filter {
  background: var(--color-secondary);
  border: none;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 100;
  padding: 1rem;
  outline: none;
  width: 100%;
  border-radius: 8px;
}
#directory-listing .panel-filter #add-ttp-container:hover {
  background-color: var(--color-selection);
  border-radius: 0px 8px 8px 0;
  border: none;
}
#directory-listing .panel-filter #add-ttp-container #add-ttp {
  height: 20px;
  width: 20px;
  padding: 14px 16px;
  filter: var(--filter-icon-color);
  cursor: pointer;
}
#directory-listing #manifest {
  margin: 0px;
  padding: 0px;
}

#ttp-template {
  margin: 5px 0 0;
  padding: 10px 10px 10px 5px;
  font-size: 16px;
  cursor: pointer;
}
#ttp-template:hover {
  background-color: var(--color-selection);
  border-radius: 8px;
}
#ttp-template #ttp-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#ttp-template #ttp-row .ttp-classification {
  transform: scale(0.75);
  filter: invert(99%) sepia(4%) saturate(805%) hue-rotate(198deg) brightness(114%) contrast(73%);
  margin-right: 5px;
}
#ttp-template #ttp-row #ttp-name {
  margin: 0px;
  flex-grow: 1;
}
#ttp-template #ttp-row .dropdown-arrow {
  padding: 3px;
  border-top: 2px solid var(--color-button);
  border-right: 2px solid var(--color-button);
  transform: rotate(45deg);
}
#ttp-template #ttp-row .dropdown-arrow-active {
  transform: rotate(135deg);
}
#ttp-template #dcf-listing {
  padding-left: 20px;
}

.dcf-template {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-size: 14px;
  cursor: pointer;
}
.dcf-template:first-child {
  margin-top: 10px;
}
.dcf-template:hover {
  background-color: var(--color-lighter-selection);
  box-shadow: -20px 0 0 var(--color-lighter-selection);
  border-radius: 8px;
}
.dcf-template #dcf-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.dcf-template #dcf-row #platform-logo {
  width: 15px;
  height: 15px;
  position: relative;
  top: 0;
  right: 0;
  filter: var(--filter-icon-color);
}
.dcf-template #dcf-row p {
  margin: 10px 0;
}

.ttp-highlight {
  background-color: var(--color-selection);
  border-radius: 8px;
}

.dcf-highlight {
  background-color: var(--color-lighter-selection);
  box-shadow: -20px 0 0 var(--color-lighter-selection);
  border-radius: 8px;
}

.plugin-box {
  background-color: var(--color-main);
  height: 100%;
  width: 25%;
  right: 2%;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: -6px 2px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 999;
}
.plugin-box #plugin-name {
  font-size: 28px;
  margin: 0;
}
.plugin-box #plugin-description {
  font-size: 14px;
  margin: 20px 0 0;
}
.plugin-box .plugin-input {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 100;
  padding: 1rem;
  outline: none;
  width: 100%;
  margin-top: 10px;
}
.plugin-box .plugin-button {
  height: 30px;
  width: 100%;
  background-color: var(--color-selection);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  margin: 15px 0;
}
.plugin-box .plugin-button:hover {
  cursor: pointer;
  background-color: var(--color-lighter-selection);
}

.control-bar {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  margin: 0 0 12px 12px;
  border-bottom: 1px solid var(--color-accent);
}
.control-bar .deploy-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--color-selection);
  border: 1px solid var(--color-lighter-selection);
  column-gap: 12px;
}
.control-bar .deploy-button span {
  font-size: 16px;
}
.control-bar .deploy-button img {
  filter: var(--filter-icon-color);
}
.control-bar .deploy-button:hover {
  background: var(--color-lighter-selection);
  cursor: pointer;
}

#dcf-results {
  font-size: 14px;
}
#dcf-results pre {
  margin: 0;
  padding: 8px 0 0 16px;
  font-family: "IBM Plex Mono", monospace;
}

.result-system {
  font-weight: 700;
}

.result-0 {
  color: #32CD32;
}

.result-1 {
  color: red;
}

#screen-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  cursor: default;
}
#screen-welcome #welcome-line {
  margin-top: 10%;
  font-size: 28px;
}
#screen-welcome #welcome-splitter {
  width: 20%;
  margin-top: 2.5%;
  border-bottom: 1px solid var(--color-button);
  filter: opacity(0.3);
}
#screen-welcome .welcome-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  column-gap: 20px;
}
#screen-welcome .welcome-steps img {
  height: 20px;
  width: 20px;
  filter: var(--filter-icon-color);
}
#screen-welcome .welcome-steps span {
  font-size: 18px;
}
#screen-welcome .welcome-steps a {
  color: #fff;
  text-underline-offset: 2px;
}

/*# sourceMappingURL=app.css.map */
