body {
    --color-main: #21252B;
    --color-secondary:#272B33;
    --color-accent: #32353c;
    --color-button: #DDDDDD;
    --color-theme: #272B33;
    --color-selection: #323844;
    --color-open: #444C5B;
    --color-lighter-selection: #38597A;
    --color-success: #46C227;
    --filter-icon-color: invert(60%) sepia(19%) saturate(407%) hue-rotate(166deg) brightness(93%) contrast(88%);
    --filter-color: #7E95A9;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
    background-color: var(--color-theme);
    overflow: hidden;
}
ul {
    list-style-type: none;
}
::-webkit-scrollbar {
    width: 12px;
 }
::-webkit-scrollbar-thumb {
    background-color: #32353CB3;
    border-radius: 20px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* containers */

.container {
    padding: 25px;
}
.panel-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.screen {
    display: none;
    padding: 25px;

    input {
        background: inherit;
        border: none;
        color: #fff;
        display: block;
        font-size: 14px;
        font-weight: 100;
        padding: 1rem;
        outline: none;
        width: 75%;
    }
}

.plugin-bar {
    background-color: var(--color-main);
    border-left: 1px solid var(--color-accent);
    width: 25px;

    ul {
        writing-mode: vertical-rl;
        text-align: center;
        transform: rotate(360deg);
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            padding: 20px 0;
            font-size: 16px;
            float: left;
            border-bottom: 1px solid var(--color-accent);
            width: 100%;

            &:hover {
                background: var(--color-selection);
                border-left: 1px solid var(--color-main);
                cursor: pointer;
            }
        }
    }
}

/* horizontal panel*/

.panel-left {
    flex: 0 0 auto;
    height: 100%;
    width: 20%;
    padding: 16px 4px 16px 16px;
    box-sizing: border-box;
    color: white;
}
.splitter {
    flex: 0 0 auto;
    border: 1px solid var(--color-accent);
    cursor: col-resize;
}
.panel-right {
    flex: 1 1 auto;
    min-height: 100%;
    width: 80%;
}

/* vertical panel */

.panel-container-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
    bottom: 0;
}
.panel-top {
    flex: 0 0 auto;
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
}
.splitter-horizontal {
    flex: 0 0 auto;
    height: 3px;
    background-color: var(--color-accent);
    cursor: col-resize;
}
.panel-bottom {
    flex: 1 1 auto;
    height: 0;
    position: relative;
    background-color: var(--color-main);
    overflow: scroll;
}
.panel-bottom::-webkit-scrollbar-thumb {
    background-color: #32353CB3;
    border-radius: 20px;
}

/* spinner */

.simple-spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.simple-spinner span {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right-color: rgba(255, 255, 255, 0.7);
    animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@import "code";
@import "directory";
@import "plugin";
@import "results";
@import "welcome";