#screen-code {
    padding: 0;
}
#screen-code::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 20px;
    border: 3px solid var(--color-theme);
}
#tab-container {
    display: flex;
    flex-direction: row;        
    padding: 0;
    margin: 0;
    border-bottom: 2px solid var(--color-accent);
    background-color: var(--color-selection);

    #dcf-tab-template {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 8px;
        padding: 12px 8px;
        border-right: 2px solid var(--color-accent);

        #dcf-platform {
            height: 16px;
            width: 16px;
            filter: invert(100%);
        }

        #dcf-name {
            font-size: 14px;
            color: #fff;
        }

        #dcf-close {
            height: 20px;
            width: 20px;
            padding-left: 16px;
            filter: var(--filter-icon-color);
            cursor: pointer;
        }
    }
}
.deployment {
    background-color: inherit;
    margin: 0;
    right: 0;
    padding: 10px 80px 0 0;
    z-index: 999;
    position: absolute;
}
.deployment img {
    height: 30px;
    top: 20px;
    right: 25px;
    filter: invert(0.75);
}