#directory-listing {
    display: flex;
    flex-direction: column;
    background-color: var(--color-main);

    .panel-container-vertical {
        overflow: scroll;
    }

    .panel-filter {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        padding: 0px;
        background: var(--color-secondary);
        border: 1px solid var(--color-lighter-selection);
        border-radius: 4px;
        align-items: center;
        column-gap: 12px;

        #search {
            height: 16px;
            width: 16px;
            filter: var(--filter-icon-color);
            padding-left: 12px;
        }

        #manifest-filter {
            background: var(--color-secondary);
            border: none;
            color: #fff;
            display: block;
            font-size: 14px;
            font-weight: 100;
            padding: 0px;
            outline: none;
            width: 100%;

            &::placeholder {
                color: var(--filter-color);
            }
        }

        #add-ttp-container {
            background-color: var(--color-lighter-selection);
            cursor: pointer;

            #add-ttp {
                height: 20px;
                width: 20px;
                padding: 8px 12px;
                filter: invert(100%);
            }
        }
    }

    #manifest {
        margin: 0px;
        padding: 0px;
    }
}

#ttp-template {
    position: relative;
    margin: 4px 0 0 0;
    padding: 4px 8px;
    font-size: 16px;
    border: 1px solid var(--color-main);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--color-selection);
        border-radius: 4px;
    }

    .vertical-ellipsis {
        height: 16px;
        width: 16px;
        filter: var(--filter-icon-color);
        top: 8px;
        right: 4px;
        position: absolute;
        background: none;
    }

    #ttp-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        column-gap: 6px;

        .ttp-classification {
            transform: scale(0.75);
            filter: var(--filter-icon-color);
        }

        #ttp-name {
            max-width: 75%;
            word-wrap: break-word;
            margin: 0px;
            font-size: 14px;
            flex-grow: 1;

            &:focus {
                outline: none;
                color: var(--filter-color);
            }
        }

        .dropdown-arrow {
            margin-top: 8px;
            padding: 2px;
            border-top: 2px solid var(--filter-color);
            border-right: 2px solid var(--filter-color);
            transform: rotate(45deg);
        }

        .dropdown-arrow-active {
            transform: rotate(135deg);
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
        }

        .image-active {
            filter: invert(100%);
        }
    }

    #dcf-listing {
        padding: 0;
    }
}

.dcf-template {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    font-size: 14px;
    margin-top: 2px;
    cursor: pointer;

    &:first-child {
        margin-top: 4px;
    }

    &:hover {
        background-color: var(--color-selection);
        border-radius: 4px;
    }

    #dcf-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
        padding-left: 32px;

        #platform-logo {
            width: 15px;
            height: 15px;
            position: relative;
            top: 0;
            right: 0;
            filter: var(--filter-icon-color);
        }

        p {
            margin: 8px 0;
        }
    }
}

.ttp-highlight {
    border: 1px solid var(--color-open) !important;

    &:hover {
        background-color: transparent !important;
    }
}

.dcf-highlight {
    background-color: var(--color-lighter-selection);
    border-radius: 4px;
}