.plugin-box {
    background-color: var(--color-main);
    height: 100%;
    width: 25%;
    right: 2%;
    border-left: 1px solid rgba(0, 0, 0, .5);   
    box-shadow: -6px 2px 6px rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 999;

    #plugin-name {
        font-size: 28px;
        margin: 0;
    }

    #plugin-description {
        font-size: 14px;
        margin: 20px 0 0;
    }

    .plugin-input {
        background-color: var(--color-secondary);
        border: 1px solid var(--color-accent);
        border-radius: 8px;
        color: #fff;
        display: block;
        font-size: 14px;
        font-weight: 100;
        padding: 1rem;
        outline: none;
        width: 100%;
        margin-top: 10px;
    }

    .plugin-button {
        height: 30px;
        width: 100%;
        background-color: var(--color-selection);
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        margin: 15px 0;

        &:hover {
            cursor: pointer;
            background-color: var(--color-lighter-selection);
        }
    }
}