#screen-welcome {
    display: flex;
    flex-direction: column;    
    height: 100%;
    font-weight: 300;
    cursor: default;
    background-color: var(--color-main);

    #welcome-line {
        font-size: 40px;
        text-align: center;
        margin: 10% 0 0;
    }

    .welcome-container {
        margin: auto;
        height: 65%;
        width: 35%;

        .welcome-steps {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 32px;
            column-gap: 20px;
            padding: 0 0 32px;
            border-bottom: 1px solid var(--color-accent);
    
            img {
                height: 24px;
                width: 24px;
                filter: var(--filter-icon-color);
            }
    
            span {
                font-size: 24px;
            }
    
            a {
                color: #fff;
                text-underline-offset: 2px;
            }
        }

        .welcome-documentation {
            width: 75%;
            margin: auto;
            justify-content: center;
            border: none;
            margin-top: 64px;

            span {
                font-size: 18px;
            }
        }
    }
}
