.help {
}

.help ul {
  list-style-type: none;
  padding-left: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.help ul li {
}

.help ul li span {
}

.help ul li p {
  margin: 0;
  padding-left: 1.5rem;
  color: var(--gray-10);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.help ul li strong {
  color: var(--white);
  text-align: left;
  flex: 1;
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-error);
}

.terminalList {
  min-height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemList {
  list-style: none;
  margin: 0;
  min-height: 110px;
  width: max-content;
}

.item {
  display: flex;
}

.item {
  display: flex;
}

.item .cursor {
  width: 1rem;
  flex-shrink: 0;
}

.content {
  padding: 0 0.5rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.item.selected .content {
  background-color: var(--white);
  color: var(--black);
  opacity: 0.5;
}

.terminalList:focus-within .item.selected .content {
  opacity: 1;
}

.item span:nth-child(2) {
  color: var(--gray-10);
}

.terminalList input {
  background: none;
  border: none;
  color: var(--black);
  width: 1rem;
  -moz-appearance: textfield;
  width: 0;
}

.terminalList input:focus {
  background: none;
  outline: none;
}

.terminalList input::-webkit-outer-spin-button,
.terminalList input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.extra {
  background: var(--white);
  color: var(--black);
  padding: 0 0.25rem;
  display: flex;
  gap: 0.25rem;
}

.extra svg {
  fill: var(--black);
  margin: auto 0;
}

.listBar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-top: 0.5rem;
  flex-wrap: wrap;
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotateNeg90 {
  transform: rotate(-90deg);
}

.filterInput {
  min-width: 24rem;
}

.welcomeMessage .helpText {
  padding-left: 0;
}

.helpText {
  padding-left: 0.5rem;
  color: var(--gray-10);
}

.helpText a {
  color: var(--white);
  cursor: pointer;
}

.question {
  display: flex;
  gap: 0.25rem;
}

.question input {
  background: none;
  border: none;
  caret-color: var(--white);
  color: var(--white);
  width: 100%;
}

.question input:focus {
  outline: none;
}

.question .message {
  color: var(--gray-10);
  white-space: nowrap;
}
