ul {
  padding: 0;
  list-style-type: none;
}

.variantContainer {
  display: flex;
  flex-direction: column;
  font-size: var(--text-xs);
}

.variant {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.875rem 0;
  border-top: 1px solid var(--color-primary-10);
}

.variant:hover {
  cursor: pointer;
}

.name {
  flex-grow: 1;
}

.chevronIcon {
  width: 1rem;
  height: 1rem;
  fill: var(--white);
  transform: rotate(180deg);
}

.activeChevron {
  transform: rotate(0deg);
}

.steps {
  display: none;
}

.expanded {
  display: flex;
  flex-direction: column;
}

.stepChevron {
  fill: var(--gray-10);
  transform: rotate(225deg);
}

.step {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 1rem;
  padding: 1rem 0;
  border-top: 1px dashed var(--color-secondary-10);
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 1rem;
}

.infoBlock {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  width: 6rem;
}

.checkmarkIcon {
  fill: var(--color-success);
}

.pass {
  color: var(--color-success);
}

.alertIcon {
  fill: var(--color-error);
}

.alert {
  color: var(--color-error);
}

.timeIcon {
  fill: var(--gray-10);
}

.publish {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  column-gap: 0.5rem;
  border: 1px solid var(--color-primary-10);
  border-radius: 0.25rem;
  color: var(--white);
  margin-right: 1rem;
  margin-left: auto;
}

.publish:hover {
  cursor: pointer;
  background-color: var(--color-secondary-20);
}

.launchIcon {
  fill: var(--white);
}

.output {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 60%;
  min-width: 300px;
}

.outputArray {
  display: flex;
  flex-direction: column;
}

.details {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 1rem;
}

.lessDetail {
  margin: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}