.welcome {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.welcome .leftSection > h2 {
  margin-top: 0;
}

.leftSection {
  padding: 1.5rem;
  width: 50%;
}

.sectionDivider {
  border-right: 1px solid var(--color-border);
}

.rightSection {
  padding: 1.5rem;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}