.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  height: max-content;
  width: max-content;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.secondary {
  background-color: var(--color-primary-20);
  border: 1px solid var(--color-primary-20);
}

.secondary:hover {
  background-color: var(--color-primary-30);
  border: 1px solid var(--color-primary-10);
}

.iconButton > svg {
  width: 1rem;
  height: 1rem;
}

.iconButton:hover > svg {
  fill: var(--white);
}

.primary > svg {
  fill: var(--color-primary-10);
}

.secondary > svg {
  fill: var(--white);
}

.error > svg {
  fill: var(--color-alert);
}

.success > svg {
  fill: var(--color-success);
}