.confirm {
  position: relative;
}

.prompt {
  position: absolute;
  right: -20%;
  top: 120%;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.5rem 1rem;
  row-gap: 1rem;
  background-color: var(--color-secondary-30);
  z-index: 3;
  box-shadow: 12px 12px 15px rgb(0 0 0 / 25%);
  border: 1px solid var(--color-secondary-10);
  border-radius: 4px;
}

.prompt:before {
  right: 0;
  top: -7%;
  position: absolute;
  content: "";
  padding: 0.2rem;
  background-color: var(--color-secondary-30);
  border-top: 1px solid var(--color-secondary-10);
  border-right: 1px solid var(--color-secondary-10);
  rotate: 315deg;
  translate: -90% 50%;
}

.message {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

.message > span {
  font-size: var(--text-sm);
}

.message > button {
  border: none;
  background: none;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.options > button > span {
  font-size: var(--text-sm);
}

.options {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.close {
  margin-left: 95%;
}