.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.platform {
  flex: 1;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "nav main";
  grid-template-rows: 3.5rem 1fr;
  grid-template-columns: 3.5rem 1fr;
  height: 100%;
}

.wrapper {
  grid-area: main;
  height: 100%;
  overflow: hidden;
}
