button:focus {
  outline: none;
}

.test {
  margin-bottom: 0.25rem;
}

.test > header {
  font-size: var(--text-base);
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  background: var(--color-secondary-30);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.test:hover > header,
.test.active > header {
  background: var(--color-secondary-10);
}

.chevronIcon {
  width: 1rem;
  height: 1rem;
  fill: var(--white);
  transform: rotate(180deg);
  margin: auto 0;
}

.activeChevron {
  transform: rotate(0deg);
}

.variants {
  display: flex;
  flex-direction: column;
}

.variants > div {
  font-size: var(--text-xs);
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  gap: 0.5rem;
  border-top: 1px dashed var(--color-secondary-10);
  align-items: center;
}

.variants > div:first-child {
  border-top: none;
}

.variants > div > span {
  margin-right: auto;
}

.variantIcon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--white);
  flex-shrink: 0;
}

.copy {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.copy > svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-primary-10);
}

.loading {
  animation: loader 1.2s linear infinite;
}

.delete {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.delete > svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-primary-10);
}

.delete > svg:hover,
.copy > svg:hover {
  fill: var(--white);
}

.deleteContainer {
  position: relative;
}

.deletePrompt {
  position: absolute;
  right: -20%;
  top: 120%;
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 0.5rem 1rem;
  row-gap: 1rem;
  background-color: var(--color-secondary-30);
  z-index: 3;
  box-shadow: 12px 12px 15px rgb(0 0 0 / 25%);
  border: 1px solid var(--color-secondary-10);
  border-radius: 4px;
}

.deletePrompt:before {
  right: 0;
  top: -10%;
  position: absolute;
  content: "";
  padding: 0.2rem;
  background-color: var(--color-secondary-30);
  border-top: 1px solid var(--color-secondary-10);
  border-right: 1px solid var(--color-secondary-10);
  rotate: 315deg;
  translate: -90% 50%;
}

.message {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

.message > span {
  font-size: var(--text-sm);
}

.message > button {
  border: none;
  background: none;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.message > button > svg {
  height: 1rem;
  width: 1rem;
  fill: var(--white);
}

.confirmation {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.confirmation > button {
  padding: 0.5rem 3rem;
  border: 1px solid var(--color-primary-10);
  border-radius: 0.25rem;
  color: var(--white);
  background: none;
}

.confirmation > button:hover {
  background-color: var(--color-secondary-20);
  cursor: pointer;
}

.confirmation .approve {
  background-color: var(--color-secondary-10);
  border: 1px solid var(--color-secondary-10);
}
