.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.app main {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.app main .topSection {
  flex: 2;
}

.app main footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
