button:focus {
  outline: none;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
}

.backdrop {
  flex: 1;
}

.panel {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.5rem;
  width: 450px;
  height: 100%;
  background-color: var(--color-secondary-40);
}

.panel.left {
  left: 0;
}

.panel.right {
  right: 0;
}

.test {
  margin-bottom: 0.25rem;
}

.test > header {
  font-size: var(--text-base);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background: var(--color-secondary-30);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.test:hover > header,
.test.active > header {
  background: var(--color-secondary-10);
}

.chevronIcon {
  width: 1rem;
  height: 1rem;
  fill: var(--white);
  transform: rotate(180deg);
  margin: auto 0;
}

.activeChevron {
  transform: rotate(0deg);
}

.legend {
  font-size: var(--text-xs);
  padding: 0.5rem;
  color: var(--color-primary-10);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.loaderIcon {
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--color-primary-10);
  animation: loader 1.2s linear infinite;
  margin: auto 0;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.variants {
  display: flex;
  flex-direction: column;
}

.variants > div {
  font-size: var(--text-xs);
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  gap: 0.5rem;
  border-top: 1px dashed var(--color-secondary-10);
  align-items: center;
}

.variants > div:first-child {
  border-top: none;
}

.variants > div > span {
  margin-right: auto;
}

.variantIcon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--white);
  flex-shrink: 0;
}

.copy {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.copy > svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-primary-10);
}

.loading {
  animation: loader 1.2s linear infinite;
}

.delete {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.delete > svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-primary-10);
}

svg:hover {
  fill: var(--white);
}

.deleteContainer {
  position: relative;
}

.deletePrompt {
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 0.5rem 1rem;
  row-gap: 1rem;
  background-color: var(--color-secondary-30);
  z-index: 3;
  box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-secondary-10);
  border-radius: 4px;
}

.message {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

.message > span {
  font-size: var(--text-sm);
}

.message > button {
  border: none;
  background: none;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.message > button > svg {
  height: 1rem;
  width: 1rem;
  fill: var(--white);
}

.confirmation {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.confirmation > button {
  padding: 0.5rem 3rem;
  border: 1px solid var(--color-primary-10);
  border-radius: 0.25rem;
  color: var(--white);
  background: none;
}

.confirmation > button:hover {
  background-color: var(--color-secondary-20);
  cursor: pointer;
}

.confirmation .approve {
  background-color: var(--color-secondary-10);
  border: 1px solid var(--color-secondary-10);
}