:root {
  --font-primary: "IBM Plex Sans", sans-serif;
  --font-secondary: serif;
  --font-code: "IBM Plex Mono", monospace;

  /* set base values */
  --text-base: 16px;

  /* headline type scale */
  --headline-lg: 2.5; /* Large */
  --headline-rg: 2rem; /* Regular */
  --headline-sm: 1.5rem; /* Small */
  --headline-xs: 1.125rem; /* Tiny */

  /* text type scale */
  --text-lg: 1.125rem; /* Large */
  --text-rg: 1rem; /* Regular */
  --text-sm: 0.875rem; /* Small */
  --text-xs: 0.75rem; /* Tiny */

  /* button type scale  */
  --button-lg: 1.125rem; /* Large */
  --button-rg: 1rem; /* Regular */
  --button-sm: 0.875; /* Small */
}

body {
  font-size: var(--text-sm);
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
  font-weight: 300;
}

/* text size */
.text--xxxl {
  font-size: var(--headline-lg);
}

h1,
.text--xxl {
  font-size: var(--headline-lg);
}

h2,
.text--xl {
  font-size: var(--headline-rg);
}

h3,
.text--lg {
  font-size: var(--headline-sm);
}

.text--base {
  font-size: var(--text-base);
}

h4,
.text--md {
  font-size: var(--headline-xs);
}

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

code,
pre {
  font-family: var(--font-code);
}
