@import "core/preflight.css";
@import "core/colors.css";
@import "core/typography.css";
@import "core/breakpoints.css";

* {
  transition: border-color 0.75s ease;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  background: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary-20);
  border-radius: 0.25rem;
}

button:focus {
  outline: none;
}
