@import "core/preflight.css";
@import "core/colors.css";
@import "core/typography.css";
@import "core/breakpoints.css";

body {
  background-color: #21252b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: background-color 0.75s ease;
}

::-webkit-scrollbar {
  background: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary-20);
  border-radius: 0.25rem;
}

button:focus {
  outline: none;
}
