.group {
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
}

.before {
  position: absolute;
  align-items: center;
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 12px;
}

.after {
  position: absolute;
  align-items: center;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 12px;
}

.input {
  background-color: var(--color-secondary-30);
  border: 1px solid var(--color-secondary-10);
  color: var(--color-text);
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}

.withBefore {
  padding-left: 2.25rem;
}

.withAfter {
  padding-right: 2.25rem;
}

.input::placeholder {
  color: var(--form-text-placeholder);
}

.input:focus-visible {
  outline: 1px solid var(--form-element-border);
  box-shadow: 0px 0px 8px var(--white);
  border-color: var(--white);
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}